<h1>Hello Im Mohamed</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <div class="links">
        <a target="_blank" href="https://github.com/Sihamouda123">
            <img src="assets/github-logo.png" alt>
            <div class="hidden-label">Github</div>
        </a>
        <a target="_blank" href="https://github.com/Sihamouda123">
            <img src="assets/github-logo.png" alt>
            <div class="hidden-label">Github</div>
        </a>
    </div>

