<header class="header">
    <div class="intro">
        <img src="https://via.placeholder.com/150" alt="Mohamed" class="profile-picture">
      <h1>Hello, I'm Mohamed</h1>
      <p>
        Passionné par le développement, je crée des applications modernes et efficaces. 
        Explorons ensemble des solutions innovantes !
      </p>
    </div>
  
    <div class="links">
      <!-- Lien GitHub -->
      <a target="_blank" href="https://github.com/Sihamouda123">
        <img src="assets/github-logo.png" alt="GitHub">
        <div class="hidden-label">GitHub</div>
      </a>
  
      <!-- Autre lien social (par exemple LinkedIn) -->
      <a target="_blank" href="https://linkedin.com">
        <img src="https://via.placeholder.com/100" alt="LinkedIn">
        <div class="hidden-label">LinkedIn</div>
      </a>
    </div>
  </header>
  