<header class="header">
  <div class="intro">
    <img src="assets/mohamed.jpeg" alt="Mohamed" class="profile-picture">
    <h1>Hello, I'm Mohamed</h1>
    <p>
      Passionné par le développement et la technologie, je m'efforce de créer des solutions innovantes.
    </p>
    <div class="links">
      <a href="https://www.linkedin.com/in/mohamed-hcini-185339207/" target="_blank">
        <img src="assets/linkedin.png" alt="LinkedIn">
        <span class="hidden-label">LinkedIn</span>
      </a>
      <a href="https://github.com/Sihamouda123" target="_blank">
        <img src="assets/github-logo.png" alt="GitHub">
        <span class="hidden-label">GitHub</span>
      </a>
    </div>
  </div>
  <div class="cv-section">
    <img src="assets/cv-photo.png" alt="CV Photo" class="cv-photo">
    <a href="assets/Mohamed-Hcini-CV.pdf" download class="download-cv-button">
      <span>Télécharger mon CV</span>
    </a>  </div>
</header>