/* Footer */
.footer {
  background: linear-gradient(135deg, #1e293b, #3a5868);
  color: #f0f4f8;
  padding: 4rem 2rem;
  position: relative;
  text-align: center;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

/* Effet Parallax du fond */
.footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //background: url('assets/footer-bg.jpg') center center no-repeat;
  background-size: cover;
  z-index: -1;
  animation: parallax 15s infinite linear;
}

@keyframes parallax {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

/* Contenu du Footer */
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 3rem;
}

.footer-column h3 {
  font-size: 1.5rem;
  color: #64ffda;
  margin-bottom: 1rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin: 0.5rem 0;
}

.footer-column ul li a {
  color: #9ad4ec;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #64ffda;
}

/* Icônes sociales */
.social-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social-icons a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons a:hover img {
  transform: scale(1.2);
  opacity: 0.9;
}

/* Copyright */
.footer-bottom {
  margin-top: 2rem;
  border-top: 1px solid #283e55;
  padding-top: 1rem;
  font-size: 1rem;
  color: #9ad4ec;
}

/* Bouton "Retour en haut" */
.back-to-top {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: #64ffda;
  color: #21343c;
  padding: 1rem;
  border-radius: 50%;
  font-size: 2rem;
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.back-to-top:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

/* Animation du Footer */
@keyframes fadeInFooter {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer {
  animation: fadeInFooter 1s ease-in-out;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
}
