<footer class="footer">
  <!-- Contenu du footer -->
  <div class="footer-content">
    <!-- Colonne 1 : Navigation -->
    <div class="footer-column">
      <h3>Navigation</h3>
      <h3>Navigation</h3>
      <ul>
        <li><a routerLink="/" >Accueil</a></li>
        <li><a routerLink="/skills" >Compétences</a></li>
        <li><a routerLink="/projects" >Projets</a></li>
        <li><a routerLink="/experiences">Expériences</a></li>
      </ul>
    </div>

    <!-- Colonne 2 : Contact avec icônes -->
    <div class="footer-column">
      <h3>Contact</h3>
      <div class="contact-info">
        <a href="mailto:contact&#64;mohamed.com" class="contact-link">
          <img src="assets/email-icon.png" alt="Email" class="contact-icon">
          <span>contact&#64;mohamed.com</span>
        </a>
        <a href="tel:+1234567890" class="contact-link">
          <img src="assets/phone-icon.png" alt="Téléphone" class="contact-icon">
          <span>+123 456 7890</span>
        </a>
      </div>
    </div>

    <!-- Colonne 3 : Réseaux sociaux -->
    <div class="footer-column">
      <h3>Suivez-moi</h3>
      <div class="social-icons">
        <a href="https://github.com/Sihamouda123" target="_blank" aria-label="GitHub">
          <img src="assets/github-logo.png" alt="GitHub">
        </a>
        <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
          <img src="assets/linkedin.png" alt="LinkedIn">
        </a>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-bottom">
    <p>&copy; 2024 Mohamed. Tous droits réservés.</p>
  </div>
</footer>
