/* Navbar */
.navbar {
  background-color: var(--primary-color, #333);
  color: var(--text-light, #fff);
  padding: 1rem 2rem;
  position: sticky; /* Ajout du sticky */
  top: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 8px 8px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-light, #fff);
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 3rem; /* Espace accru */
}

.navbar-menu li a {
  text-decoration: none;
  color: var(--text-light, #fff);
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.navbar-menu li a:hover {
  color: var(--accent-color, #4CAF50);
}
