<!-- Navbar -->
<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <img src="assets/remove.png" 
           alt="Contact par email" 
           class="contact-icon">
      <a href="#header" class="navbar-logo">Mohamed Hcini </a>
    </div>
    <button class="navbar-toggle" (click)="toggleMenu()">
      <span class="hamburger"></span>
    </button>
    <ul class="navbar-menu" [class.active]="isMenuOpen">
      <li><a href="#header" (click)="closeMenu()">Acceuil</a></li>
      <li><a href="#skills" (click)="closeMenu()">Compétences</a></li>
      <li><a href="#projects" (click)="closeMenu()">Projets</a></li>
      <li><a href="#experiences" (click)="closeMenu()">Expériences</a></li>
      <li><a href="#footer" (click)="closeMenu()">About me</a></li>
    </ul>
  </div>
</nav>

<!-- Sections -->
<section id="header">
  <app-header></app-header>
</section>
<section id="skills">
  <app-skills></app-skills>
</section>
<section id="projects">
  <app-projects></app-projects>
</section>
<section id="experiences">
  <app-experiences></app-experiences>
</section>
<section id="footer">
  <app-footer></app-footer>
</section>
